*{
	margin: 0;
	padding:0;
	font-size: 100%;
	border:none;
	box-sizing:border-box;
	line-height: normal;
	margin-left: auto;
	margin-right: auto;
}

header{
 
    display: flex;
    align-items: center;
    justify-content:space-around;

}

section { 
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: flex-start;	
}

article { 
	flex-basis: 45%;
	margin-bottom: 20px;
}

body{
	background-color:rgb(241, 234, 234);	
	width: 100%;
}

.cabecalho{
    background-color:#8ddedf;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
    
}
.logo{
	text-align: center;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
}

.menu a{
	display:contents;
	width:100%;
	height:100%;
	position:fixed;
	color:#1fa386;
	font-weight: bold;
	margin-right: 20px;
}

figure{
	width: 50%;
	margin-left: auto;
	margin-right: auto;
}

main{
	width: 80%;
	margin-left: auto;
	margin-right: auto;
}

main h1{
    font-size: 40px;
    text-align: center;
	font-family:fantasy;
}

main h2{
	font-family:cursive;
	font-size: 20px;	
}

main p{
	text-align: justify;
	margin: 0px 0px 32px;
	text-indent: 20px;
}

.BD .SÉRIE .AUTORA .Livros{
	text-align: center;
}

.BD img .SÉRIE img .Livros img{
	display: block;
	margin: 0 auto;
}

.AUTORA img{
	width: 77%;
}

.descrição{
	text-align: center;
	margin-top: 10px;
}

iframe {
	display: block;
	margin: 0 auto;
	max-width: 100%;
  }

footer{
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	background-color: #8ddedf;
	color: black;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
    background: #3B5998;
    color: white;
}


.fa-twitter {
		background: #55ACEE;
		color: white;}

.fa-linkedin-in { 
    background: white;
    color: #3B5998;
}